<div class="container">
    <nav aria-label="breadcrumb " style="margin-top: 30px" ;>
        <ol class="breadcrumb bg-transparent ">
            <li class="breadcrumb-item bc-item text-info"><a href="/">Home</a></li>
            <li class="breadcrumb-item bc-item text-info"><a href="/blog">Blog</a></li>
            <li class="breadcrumb-item" aria-current="page">{{blogs.nametwo}}</li>
        </ol>
    </nav>

    <div class="col-md-9" style="margin-bottom: 50px;">
        <img src="{{blogs.imagetwo}}" />
        <br><br>
        <h2>{{blogs.nametwo}}</h2>
        <br>
        <p>{{blogs.paratwo}}</p>
        <p>{{blogs.paratwo}}</p>
        <p>{{blogs.paratwo}}</p>
        
        
    </div>
</div>