<div class="container">
    <nav aria-label="breadcrumb" style="margin-top: 30px">
        <ol class="breadcrumb  bg-transparent ">
            <li class="breadcrumb-item bc-item text-info"><a href="/">Home</a></li>
            <li class="breadcrumb-item" aria-current="page">Contact</li>
        </ol>
    </nav>
</div>

<div class="container">
    <div class="row" style="margin-bottom: 30px;">
        {{>sidebar2}}
        <div class="col-md-9">
            <form action="/contact" method="POST">


                {{#if errors}}
                {{#each messages}}
                <div class="alert alert-danger" role="alert">
                    {{this}}
                </div>
                {{/each}}
                {{/if}}
                {{#if success}}
                <div class="alert alert-success" role="alert">
                    Thank you for contacting us. We will get back at the earliest.
                </div>
                {{/if}}
                <div>
                    <h3>Contact Me</h3>
                </div>
                <hr>

                <div class="form-label-group">
                    <label for="name">Name</label>
                    <input type="text" name="name" id="name" class="form-control" placeholder="Name" autofocus required
                        value="{{name}}">
                </div>

                <div class="form-label-group">
                    <label for="email">Email</label>
                    <input type="email" name="email" id="email" class="form-control" placeholder="email address"
                        value="{{email}}">
                </div>

                <div class="form-label-group">
                    <label for="mobile">Mobile</label>
                    <input type="number" name="mobile" id="mobile" class="form-control" placeholder="Mobile"
                        value="{{mobile}}">
                </div>

                <div class="form-label-group">
                    <br>
                    <textarea name="description" id="description" rows="5" class="form-control"
                        placeholder="Description">{{description}}</textarea>
                </div>

                <div class="form-label-group">
                    <br>
                    <button class="btn btn-lg btn-warning btn-block" type="submit">Submit</button>
                </div>


            </form>
        </div>
    </div>
</div>