<div class="container">
    <nav aria-label="breadcrumb " style="margin-top: 30px" ;>
        <ol class="breadcrumb bg-transparent ">
            <li class="breadcrumb-item bc-item text-info"><a href="/">Home</a></li>
            <li class="breadcrumb-item bc-item text-info"><a href="/projects">Projects</a></li>
            <li class="breadcrumb-item" aria-current="page">{{projects.title}}</li>
        </ol>
    </nav>

    <div class="col-md-9">
        <img src="{{projects.image}}" class="img-thumbnail" />
        <br>
        <h2>{{projects.title}}</h2>
        <br>
        <p>{{projects.description}}</p>
        <p>{{projects.description}}</p>
        <p>{{projects.description}}</p>
        <br>
    </div>
</div>