<!-- Breadcrumb-->

<div class="container" style="margin-top: 30px;">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb bg-transparent">
            <li class="breadcrumb-item bc-item text-info"><a href="/">Home</a></li>
            <li class="breadcrumb-item" aria-current="page">Projects</li>
        </ol>
    </nav>


    <!-- Projects Page-->
    <h1>{{title}}</h1>
    <div class="row no-padding">
        {{#each projects}}
        <div class="col-sm-4 mt-4 mb-4">
            <div class="card">
                <a href="/projects/{{_id}}"><img class="card-img-top" src="{{this.image}}" alt="" height="250px" /></a>
                <div class="card-body">
                    <h4 class="card-title">
                        <a href="/projects/{{_id}}">{{this.title}}</a>
                    </h4>
                    <p class="card-text">
                        {{this.description}}
                    </p>
                    <a class="btn btn-primary" href="/projects/{{_id}}">View Project
                        <span class="glyphicon glyphicon-chevron-right"></span>
                    </a>
                    <a class="btn btn-primary" href="#">Github
                        <span class="glyphicon glyphicon-chevron-right"></span>
                    </a>
                </div>
            </div>
        </div>
        {{/each}}
    </div>
</div>